@{
    ViewData["Title"] = "Logs";
}

<link rel="stylesheet" href="~/css/style.css" />

<div class="text-center container">
    <h4 class="display-4">История запросов</h4>
    <br>
    <table>
        <tr class="tr-title">
            <td>Id</td>
            <td>Дата запроса</td>
            <td>URL</td>
        </tr>
        @foreach (var log in Model)
        {
            <tr class="tr-data">
                <td>@log.Id</td>
                <td>@log.Date</td>
                <td>@log.Url</td>
            </tr>
        }
    </table>
</div>
